@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --primary-heading-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #fff;
  --secondary-text-color: #fff;
  --secondary-background-color: #2f303a;
  --primary-time-duration: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

/* * :hover,
:focus {
  outline: none;
} */
body {
  font-family: var(--main-font);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul,
ol [class] {
  list-style: none;
}

.link {
  text-decoration: none;
}

h2,
h3 {
  color: var(--primary-heading-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-nav.section {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-nav.section {
    padding-top: 140px;
  }
}

.container {
  max-width: 100%px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container_wrapper {
  display: flex;
  align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--primary-time-duration);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: auto;
  transition: opacity var(--primary-time-duration), visibility var(--primary-time-duration);
}

.button {
  font-family: var(--main-font);
  cursor: pointer;
  border-radius: 4px;
}

.footer-submit_button-submit {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  border: none;
}

@media screen and (max-width: 1199px) {
  .footer-submit_button-submit {
    margin: 0 auto;
  }
}

.footer-submit_button-submit-icon {
  fill: currentColor;
  margin-left: 10px;
}

.modal-form-btn {
  align-self: center;
  padding: 12px 20px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: color 250ms linear, background-color 250ms linear;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.modal-form_checkbox-link {
  color: #2196F3;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: bold;
  line-height: 1.2;
  width: 145px;
  height: 31px;
}

.webstudio {
  color: var(--accent-color);
}

.burger-button, .mobile-menu__close {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  line-height: 0;
}

.burger-button__icon {
  fill: #000000;
}

.burger-button:hover .burger-button__icon,
.burger-button:focus .burger-button__icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  overflow: auto;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-background-color);
  transform: translateY(-100%);
  transition: transform 500ms linear;
}

.mobile-menu.is-open {
  transform: translateY(0%);
}

.mobile-menu__container {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-menu__close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu__close:hover .mobile-menu__close-icon,
.mobile-menu__close:focus .mobile-menu__close-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__nav {
  margin-bottom: 302px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  color: var(--primary-heading-color);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

.mobile-menu__link.current {
  color: var(--accent-color);
}

.mobile-adress_mail:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-adress_link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--primary-text-color);
}

.mobile-adress_link.number {
  color: var(--accent-color);
  font-size: 34px;
}

.mobile-adress_list {
  margin-bottom: 64px;
}

.mobile-social {
  display: flex;
}

.mobile-social_item {
  padding: 10px 20px;
}

.mobile-social_item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social_item:first-child {
  margin-left: -15px;
}

.mobile-social_item:last-child {
  margin-right: -15px;
}

.mobile-social_link {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form_head {
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--primary-heading-color);
}

.modal-form_field {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
}

.modal-form_field:nth-last-child(4) {
  margin-bottom: 20px;
}

.modal-form_input-wrapper {
  position: relative;
  display: block;
  margin-top: 8px;
}

.modal-form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form_input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form_input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--primary-heading-color);
}

.modal-form_input:focus + .modal-form_input-icon {
  fill: var(--accent-color);
}

.modal-form_message {
  width: 100%;
  height: 120px;
  margin-top: 8px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.modal-form_message:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form_message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form_checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  /* margin-left: 54px; */
}

.modal-form_checkbox-label::before {
  display: block;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid #303030;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.modal-form_checkbox:checked + .modal-form_checkbox-label::before {
  background-image: url("../images/icon-check.svg");
}

/* .modal-form_checkbox:focus + .modal-form_checkbox-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
} */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: auto;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 96vw;
    height: 96vh;
  }
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal_button-close {
  fill: #000000;
}

.close-button:hover > .modal_button-close,
.close-button:focus > .modal_button-close {
  fill: var(--accent-color);
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.social-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--primary-time-duration);
}

.social-list_link:hover, .social-list_link:focus {
  background-color: #2196f3;
}

.social-list_item:not(:last-child) {
  margin-right: 10px;
}

.social-list_link-img {
  fill: #afb1b8;
  transition: fill var(--primary-time-duration);
}

.social-list_link:hover > .social-list_link-img,
.social-list_link:focus > .social-list_link-img {
  fill: var(--secondary-text-color);
}

.article_sub-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .article_list {
    display: flex;
    flex-wrap: wrap;
  }
}

.article_text {
  line-height: 1.71;
}

.article_item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .article_item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .article_item:nth-child(odd) {
    margin-right: 30px;
  }
  .article_item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .article_item {
    max-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .article_item:not(:last-child) {
    margin-right: 30px;
  }
}

/* =========иконки========= */
.article_sub-title.first::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-image: url("../images/main/antenna.svg");
  background-color: #f5f4fa;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .article_sub-title.first::before {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .article_sub-title.first::before {
    max-width: 270px;
  }
}

.article_sub-title.second::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-image: url("../images/main/clock.svg");
  background-color: #f5f4fa;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .article_sub-title.second::before {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .article_sub-title.second::before {
    max-width: 270px;
  }
}

.article_sub-title.third::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-image: url("../images/main/diagram.svg");
  background-color: #f5f4fa;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .article_sub-title.third::before {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .article_sub-title.third::before {
    max-width: 270px;
  }
}

.article_sub-title.fourth::before {
  content: "";
  display: block;
  max-width: 450px;
  height: 120px;
  background-image: url("../images/main/astronaut.svg");
  background-color: #f5f4fa;
  background-size: 70px, 70px;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .article_sub-title.fourth::before {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .article_sub-title.fourth::before {
    max-width: 270px;
  }
}

.clients-section {
  display: flex;
  justify-content: center;
}

.clients_title {
  font-size: 28px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .clients_title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list_item {
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 767px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

.clients-list_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--primary-time-duration);
}

.clients-list_link:hover, .clients-list_link:focus {
  border-color: #2196f3;
}

.clients-list_link-img {
  fill: #afb1b8;
  transition: fill var(--primary-time-duration);
}

.clients-list_link:hover > .clients-list_link-img,
.clients-list_link:focus > .clients-list_link-img {
  fill: #2196f3;
}

.footer {
  line-height: 1.71;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
}

.footer address {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
  .footer-adress_logo.logo {
    margin: 0 auto;
  }
  .footer-adress_container {
    margin-bottom: 60px;
  }
}

.footer-social_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-adress_logo.logo {
    display: block;
  }
  .footer-adress_container {
    margin-bottom: 60px;
    width: 232px;
  }
  .footer_container-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer-submit_container {
    margin: 0 auto;
  }
  .footer-adress_link:not(:nth-last-child(-n + 1)) {
    margin-bottom: 9px;
  }
  .footer-social_links-container {
    width: 206px;
  }
}

@media screen and (min-width: 1200px) {
  .footer_container-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .footer-adress_container {
    margin-right: 70px;
  }
  .footer-social_links-container {
    display: flex;
    flex-direction: column;
    margin-right: 93px;
  }
  .footer-submit_form-input {
    width: 358px;
    height: 50px;
  }
  .footer-submit_form-input-wrapper {
    display: flex;
  }
}

.footer-adress_link {
  font-weight: 400;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--primary-time-duration);
}

.footer-adress_link:hover, .footer-adress_link:focus {
  color: var(--accent-color);
}

.footer-adress_link:not(:nth-last-child(-n + 1)) {
  margin-bottom: 8px;
}

.footer-adress_logo.logo {
  display: block;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.adress-phyth {
  color: var(--secondary-text-color);
}

.footer-social_list {
  fill: #afb1b8;
}

.footer-social_title {
  text-transform: uppercase;
  font-size: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer-social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--primary-time-duration);
}

.footer-social_link:hover, .footer-social_link:focus {
  background-color: #2196f3;
}

.footer-social_item:not(:last-child) {
  margin-right: 10px;
}

.footer-social_link-img {
  fill: var(--secondary-text-color);
}

.footer-submit_head {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-submit_form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
  color: var(--secondary-text-color);
  background: none;
  margin-bottom: 20px;
}

.footer-submit_form-input::placeholder {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 479px) {
  .footer-submit_form-input {
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-submit_form-input {
    width: 450px;
    height: 50px;
  }
}

.section.gallery-wrapper {
  padding-top: 0px;
}

.gallery-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.71;
  margin-bottom: 50px;
}

.gallery-list {
  display: flex;
  justify-content: space-between;
}

.gallery-list_item {
  position: relative;
  width: 370px;
}

.gallery-list_item:not(:nth-last-child(-n + 1)) {
  margin-right: 30px;
}

.gallery-list_overlay {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  text-align: center;
  text-transform: uppercase;
  padding: 27px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1199px) {
  .gallery {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 15px 10px;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .header-adress_list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-adress_list {
    margin-left: auto;
  }
  .header-adress_mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-adress_list {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }
}

.site-nav_list {
  display: flex;
}

.site-nav_item:not(:nth-last-child(-n + 1)) {
  margin-right: 50px;
}

.site-nav_link {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--primary-heading-color);
  padding: 32px 0px;
  line-height: 1.14;
  transition: color var(--primary-time-duration);
}

.site-nav_link:hover, .site-nav_link:focus {
  color: var(--accent-color);
}

.site-nav_link.current {
  color: var(--accent-color);
}

.site-nav_link.current:after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 2px;
}

.header-adress_image {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header-adress_mail:not(:last-child) {
    margin-right: 50px;
  }
}

.header-adress_link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color var(--primary-time-duration);
}

.header-adress_link:hover, .header-adress_link:focus {
  color: var(--accent-color);
}

.header_logo.logo {
  color: var(--primary-heading-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header_logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header_logo {
    margin-right: 93px;
  }
}

.hero {
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  color: var(--secondary-text-color);
}

.hero.section {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/x2/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/hero-bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/x2/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/hero-bg-desktop.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background/x2/hero-bg-desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero_title {
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero_title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero_title {
    max-width: 696px;
    font-size: 44px;
  }
}

/* Кнопка заказа */
.button-order {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  transition: background-color var(--primary-time-duration);
}

.button-order:hover, .button-order:focus {
  background-color: #188ce8;
}

.team {
  background-color: #f5f4fa;
}

.team_list {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

@media screen and (min-width: 768px) {
  .team_list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team_title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.71;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .team_title {
    font-size: 36px;
  }
}

.team_sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team_item {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team_item {
    max-width: 450px;
  }
  .team_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team_item {
    max-width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team_item:nth-child(odd) {
    margin-right: 30px;
  }
  .team_item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team_item {
    max-width: 270px;
  }
  .team_item:not(:last-child) {
    margin-right: 30px;
  }
}

.team_text {
  line-height: 1.19;
  margin-bottom: 16px;
}

.team_box {
  padding: 30px 20px;
}

.portfolio-nav_list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-nav_list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-nav_item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 15px;
}

.portfolio-nav_item:not(:nth-last-child(-n + 1)) {
  margin-right: 8px;
}

.portfolio-nav_button {
  border: none;
  min-width: 73px;
  min-height: 38px;
  padding: 0px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: #f5f4fa;
  transition: background-color var(--primary-time-duration), color var(--primary-time-duration), box-shadow var(--primary-time-duration);
}

.portfolio-nav_button:hover, .portfolio-nav_button:focus {
  background-color: var(--accent-color);
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.portfolio-card_item {
  background: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .portfolio-card_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card_item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
  .portfolio-card_item:not(:nth-last-child(even)) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card_item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  .portfolio-card_item:not(:nth-last-child(3n + 1)) {
    margin-right: 30px;
  }
}

.portfolio-card_link {
  display: block;
  transition: box-shadow var(--primary-time-duration);
}

.portfolio-card_link:hover, .portfolio-card_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card_container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card_sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}

.portfolio-card_text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.portfolio-card_img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.554;
  padding: 77px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(110%);
  transition: transform var(--primary-time-duration);
}

.portfolio-card_link:hover .portfolio-card_overlay,
.portfolio-card_link:focus .portfolio-card_overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-card_overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card_overlay {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=main.css.map */