.hero {
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/background/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  color: var(--secondary-text-color);
  &.section {
    width: 100%;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/background/x2/hero-bg-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/background/hero-bg-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/background/x2/hero-bg-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/background/hero-bg-desktop.jpg);
  }
  
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  (min-resolution: 192dpi) and (min-width: 1200px),
  (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/main/background/x2/hero-bg-desktop@2x.jpg);
  }
}

// @media screen and (min-width: 480px) {
//   .hero.section {
//     max-width: 480px;
//   }
// }

// @media screen and (min-width: 768px) {
//   .hero.section {
//     max-width: 768px;
//   }
// }

@media screen and (min-width: 1200px) {
  .hero.section {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}



.hero_title {
  
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero_title {
    max-width: 360px;
  }
}


@media screen and (min-width: 1200px) {
  .hero_title {
    max-width: 696px;
    font-size: 44px;
  }
}

/* Кнопка заказа */

.button-order {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  transition: background-color var(--primary-time-duration);
    &:hover,
    &:focus {
      background-color: #188ce8;
    }
}

