.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form_head {
  text-align: center;
  font-weight: 700;
  line-height: 1.17;
  font-size: 20px;
  margin-bottom: 30px;
  color: var(--primary-heading-color);
}

.modal-form_field {
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 10px;
    &:nth-last-child(4) {
    margin-bottom: 20px;
    }
}



.modal-form_input-wrapper {
  position: relative;
  display: block;
  margin-top: 8px;
}

.modal-form_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
    &:focus {
    border-color: var(--accent-color);
    outline: none;
    }
}



.modal-form_input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: var(--primary-heading-color);
    .modal-form_input:focus + & {
    fill: var(--accent-color);
    }
}



.modal-form_message {
  width: 100%;
  height: 120px;
  margin-top: 8px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
    &:focus {
    border-color: var(--accent-color);
    outline: none;
    }
    &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    }
}





.modal-form_checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  /* margin-left: 54px; */
    &::before {
    display: block;
    content: "";
    min-width: 18px;
    min-height: 18px;
    border: 1px solid #303030;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 6px;
    }
    .modal-form_checkbox:checked + &::before {
    background-image: url("../images/icon-check.svg");
    }
}

@media screen and (max-width: 767px) {
  .modal-form_checkbox-label {
    font-size: 12px;
  }
}



/* .modal-form_checkbox:focus + .modal-form_checkbox-label::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
} */

